.loginForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.inputField {
  width: 100%;
  margin-bottom: 20px;
}

.submitBtn {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cancelBtn {
  width: 100%;
  border-radius: 8px;
}

.submitBtn,
.cancelBtn {
  text-transform: none; /* Prevent uppercase transformation */
}

.submitBtn:hover,
.cancelBtn:hover {
  opacity: 0.8; /* Dim button on hover */
}
