.cardActions{
    justify-content: flex-end;
}
.homeContainer{

    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10p;
}
.categoryContainer{
    color:black;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.2), 0px 1px 4px 0px rgba(0,0,0,0.14), 1px 0px 8px 0px rgba(0,0,0,0.12);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f053;
    padding: 20px;
    margin: 20px;
}
.background-video {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .background-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
  }
  .searchContainer{
    padding-top: 20px;
    padding-bottom: 50px;
    width: 80vw;

  }
  .container {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    padding-bottom: 5%;
    /* border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%; */
    /* box-shadow: 1px 0px 15px rgb(0 0 0 / 9%); */
    text-align: 'center';
    font-size: '40px';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  
  .joinHeader{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
  }
  .joinContainer{
    text-align: left;
    padding: 2%;
    flex-direction: column;
    align-items: left;
    border-radius: 30px;
    margin-bottom: 2%;
    background-color: #fdfdfdb0;
    display: flex;
    transition: background-color 0.3s, box-shadow 0.5s;
<<<<<<< HEAD
    /* box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, 0.1); */
=======
    box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    margin: 3%;
>>>>>>> parent of 9545101 (add)
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  /* Apply the animation to the component */
  .component {
    transition: border-radius 0.9s ease;
  }
  
  /* Styles for the component */