.cardActions{
    justify-content: flex-end;
}
.homeContainer{

    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10p;
}
.categoryContainer{
    color:black;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
}
.background-video {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .background-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
  }
  .searchContainer{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    column-gap: 80%;
    align-items: center;
  }
  .container {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    padding-bottom: 10%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: 0 4px 4px rgb(0 0 0 / 9%);
    text-align:'center';
    font-size: '40px';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .joinHeader{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .joinContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 30px;
  }