.cardActions{
    justify-content: flex-end;
}

.categoryContainer{
    color:black;
}
.iconContainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    right: 3%; 
    top: 20%;
    transition: right 0.3s ease; 
    transform: translateY(-50%);
    padding-left: 10%;
    padding-right: 10%;
    margin: 5%;
    gap: 10%;
}
.addButton{
background-color: '#92a91d' ! ;
}